.road-banner{
  max-height: inherit;
  width: 100%;
  max-height: 125px;
  position: relative;
}


.listing-banner{
  position: absolute;
  top: 135px;
  left: 610px;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  font-size: 26px;
}

.parent-background{
  display: flex;
  max-width: 700px;
  margin: auto;
  justify-content: space-between;

}

.fas.fa-angle-down{
  margin-top: 40px;
}


.listings-info{
  margin-top: 20px;
  border-top: 1px solid lightgrey;
  display: flex;
  align-content: center;
  flex-direction: column
}

.listings-drop-title{
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 10px;

}

.listings-labels{
  font-size: 12px;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  width: 100%;
  display: inline-block;
  font-weight: 500;
  margin-top: 20px;
}



.listings-textarea{
  height: 120px;
  width: 100%;
  margin-top: 5px;
  display: block;
  padding: 10px;
  padding-top: 5px;
}

.listings-textarea:focus{
  outline: 1px solid rgba(167, 6, 241, 0.877);

}

.listings-inputs{
  display: block;
  margin-top: 8px;
}

.listings-inputs:focus{
  outline: 1px solid rgba(167, 6, 241, 0.877);

}

.location-input{
  width: 100%;
  margin-top: 8px;
  padding: 5px;
}

.location-input:focus{
  outline: 1px solid rgba(167, 6, 241, 0.877);
}