.carousel-image{
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.carousel-container{
  position: relative;
  transform: translateX();
  transition: transform ease-out 0.45s;
}


.left-change{
  background-image: url(image_path('carousel-arrow.png'));
  position: absolute;
  top: 50%;
  left: 5%;
  height: 30px;
  width: 30px;
  background-size: cover;
  transform: rotate(90deg);
  cursor: pointer;
}

.right-change{
  position: absolute;
  top: 50%;
  right: 5%;
  height: 30px;
  width: 30px;
  background-size: cover;
  transform: rotate(-90deg);
  cursor: pointer;
  background-image: url(image_path('carousel-arrow.png'));

}

.carousel-counter{
  height: 10px;
  width: 60px;
  font-size: 10px;
  border-radius: 25px;
  background: gray;
  color: #ffffff;
  text-align: center;
  border: 2px solid white;
  position: absolute;
  bottom: 50px;
  left: 300px;
  padding: 5px;
}

.listing-details{
  width: 800px;
  margin: auto;
  margin-top: 30px;
}


.car-show-details{
  display: grid;
  grid-template-columns: 10% 60%;
  position: relative;
}

.heading-tags{
  color: grey;
  font-size: 14px;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.ownername{
  font-size: 16px;
  font-weight: 600;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  margin-bottom: 20px;
}

.car-make-model{
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: Freight, HoeflerText-Black, Times New Roman, serif;
  text-transform: uppercase;
}

.show-car-name{
  font-size: 28px;
}

.car-year {
  margin-left: 10px;
  font-size: 24px;

}


.review-stars{
  color: rgb(120, 11, 245);
  font-size: 24px;
  margin-right: 5px;
}

.parent-icons-div{
  margin-top: 20px;
}

.icons-grid{
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 50px 50px;
  
}

.icons-name{
  padding-left: 50px;
}

.mpg-icon{
  background-image: url(image_path('mpg-icon.png'));
  height: 30px;
  width: 30px;
}

.gas-icon{
  background-image: url(image_path('gas-icon.png'));
  height: 30px;
  width: 30px;
}

.door-icon{
  background-image: url(image_path('door.png'));
  height: 30px;
  width: 30px;
}

.seat-icon{
  background-image: url(image_path('seat-icon.png'));
  height: 30px;
  width: 25px;
}

.show-text-boxes{
  font-size: 14px;
  font-weight: 600;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  margin-bottom: 20px;
}

.sidebar{
  width: 300px;
  position: absolute;
  right: -10%;
  top: -20%;
  background: #ffffff;
  border-radius: 30px 30px 0 0;
}

.price-per-day{
  border-bottom: 1px solid lightgray;
  height: 120px;
  display: grid;
  grid-template-columns: 20% 30% 33%;
  align-items: center;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
}

.inner-dollar{
  justify-self: flex-end;
  padding-right: 5px;
  padding-bottom: 40px;
  font-size: 24px;
  font-weight: 300
}

.inner-price{
  font-size: 56px;
  width: 100%;
  justify-self: center;
}

.inner-day{
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}

.mileage-section{
  color: #5d5d5d;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  border-bottom: 1px solid lightgrey;
  font-size: 14px;
  font-weight: 500;
}

.mileage{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.random-mileage{
  margin-top: 10px;
  margin-bottom: 25px;
}

.insurance-provider{
  color: #5d5d5d;
  padding-top: 20px;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;

}

.liberty{
  color: #59d389;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  padding-bottom: 20px;
  font-size: 16px;
  border-bottom: 1px solid lightgrey;
  font-weight: 700;
}

.show-user-info{
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 150px;
}

.owner-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.owned-by{
  padding-top: 25px;
  margin-bottom: 20px;
  color: #5d5d5d;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;

}

.side-ownername{
  margin-bottom: 15px;
  color: rgb(120, 11, 245);
  font-size: 18px;
  font-weight: 600;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;

}
.star-section{
  display: flex;
  flex-direction: row;
}

.profile-circle{
  margin-top: 15px;
  height: 125px;
  width: 125px;
  background-image: url(image_path('hire-me.jpg'));
  background-size: cover;
}

.profile-circle-opt{
  height: 80%;
  width: 80%;
  border-radius: 50%;
  margin-top: 15px;
  object-fit: cover;
}

.response-rate{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 800;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgrey;
}

.update-listing-button{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  background-color: rgb(20, 91, 223);
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: BasisGrotesq, Avenir, Helvetica Neue, Helvetica, sans-serif;
  cursor: pointer;
}

.delete-listing-button{
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  background-color: red;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: BasisGrotesq, Avenir, Helvetica Neue, Helvetica, sans-serif;
  cursor: pointer;
}

.booking-form{
  display: flex;
  flex-direction: column
}


.divider{
  margin-top: 20px;
  margin-bottom: 20px;
}


// #start-date{
//   padding-bottom: 40px;
//   box-sizing: border-box;
// }