
.road-banner{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-image: url(image_path('panoramic_background.jpg'));
  display: flex;

}

.listing-banner{
  align-self: flex-end;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  font-size: 30px;
  width: 100%;
  padding-left: 23%;
  padding-bottom: 20px;
}

.parent-background{
  display: flex;
  max-width: 700px;
  margin: auto;
  justify-content: space-between;
  flex-direction: column;
}

.listings-info{
  margin-top: 20px;
  border-top: 1px solid lightgrey;
  display: flex;
  align-content: center;
  flex-direction: column;
  position: relative;
}

.caret{
  position: absolute;
  top: 20px;
  cursor: pointer;
  transition: transform 0.25s;
}

.listing-form{
  margin-bottom: 10px;
  height: 526px;
  overflow: hidden;
  visibility: visible;
  transition: visibility 0.5s, height 0.5s; 
}

.listings-drop-title{
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.listings-labels{
  font-size: 12px;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  width: 100%;
  display: inline-block;
  font-weight: 500;
  margin-top: 20px;
}

.listings-textarea{
  height: 120px;
  width: 100%;
  margin-top: 5px;
  display: block;
  padding: 10px;
  padding-top: 5px;
  box-sizing: border-box;
}

.listings-textarea:focus{
  outline: 1px solid rgba(167, 6, 241, 0.877);
  
}

.listings-numbers{
  display: block;
  margin-top: 8px;
  height: 20px;
  padding: 5px;
}

.listings-inputs{
  display: block;
  margin-top: 8px;
  height: 20px;
  padding: 5px 8px 5px 8px;
  width: 50%;
}

.listings-inputs:focus{
  outline: 1px solid rgba(167, 6, 241, 0.877);
  
}

.location-input{
  width: 100%;
  margin-top: 8px;
  padding: 8px 10px 8px 10px;
  box-sizing: border-box;
}

.location-input:focus{
  outline: 1px solid rgba(167, 6, 241, 0.877);
}

// cars 
.parent-car-info{
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid lightgrey;
  flex-direction: column;
  position: relative;
}


.cars-info{
  display: flex;
  border-top: 1px solid lightgrey;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 700; 
  position: relative;
}

.optional-span{
  margin-left: 8px;
  color: lightgrey;
  font-size: 12px;
}

.car-caret{
  position: absolute;
  top: 20px;
  cursor: pointer;
}

.car-form{
  display: flex;
  flex-wrap: wrap;
  height: 866px;
  overflow: hidden;
  visibility: visible;
  transition: visibility 0.5s, height 0.5s;     
}


.transmission-label{
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  
}

.transmission-input{
  width: 100%;
}

.listing-radios1{
  margin-right: 10px;
}

.listing-radios2{
  margin-left: 10px;
  margin-right: 10px;
}

.gas-label{
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.gas-input{
  width: 100%
}

.next-form{
  margin-top: 30px;
  background: none;
  height: 35px;
  width: 60px;
  font-size: 15px;
  border: 2px solid black;
  cursor: pointer;
}


.rotated{
  transform: rotate(180deg);
  transition: transform 0.25s
}

.photo-form{
  height: 100%;
  overflow: hidden;
  transition: visibility 0.25s, height 0.25s;
}

.photo-form-text{
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500px;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
}

.image-preview{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 100%;
}

.upload-input{
  margin: 20px 0px 20px 0px;
  width: 100%;
  display: inline-block;
  
}

.previewed-image{
  max-height: 300px;
  max-width: 300px; 
  padding-bottom: 20px;
}

.finish-button-container{
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid lightgrey;
}

.finish-form-button{
  margin: 20px 0px 20px 0px;
  width: 70px;
  height: 35px;
  background-color: #8f63f4;
  color: #ffffff;
  font-size: 14px;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.hidden-form{
  height: 0;
  transition: visibility 0.5s, height 0.5s;     
  visibility: hidden;
  overflow: hidden;
}

.new-hidden{
  height: 0;
  transition: visibility 0.25s, height 0.25s;     
  visibility: hidden;
  overflow: hidden;
}