
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.modal-child {
  padding: 40px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 540px;
  width: 380px;
  background: image-url('Lamborghini-modal.jpg');
  border-radius: 10px;
}

 .close-x {
   position: absolute;
   top: 15px;
   right: 15px;
   cursor: pointer;
   color: #ffffff;
   font-family: sans-serif;
   font-size: 12px;
 }

 .greeting{
   font-size: 30px;
   padding-top: 15px;
   padding-bottom: 15px;
   font-family: Freight, HoeflerText-Black, Times New Roman, serif;
   text-align: center;
   color: #ffffff;
 }

 .session-label{
   color: #ffffff;
   font-size: 12px;
   font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
   margin-top: 5px;
   margin-bottom: 5px;
   display: block;
 }

 .name-input{
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  padding: 8px;
 }

 .login-div{
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .name-label{
   display: inline-block;
   width: 49%;
 }
//  input[type='text']{
//    display: inline-block;
//  }
 input[type='email'], input[type='password']{
   display: block;
   margin-bottom: 15px;
 }

 .login-label{
   margin-top: 5px;
   margin-bottom: 10px;
   width: 100%;
   height: 30px;
   box-sizing: border-box;
   padding: 8px
 }

 .submit-form, .demo-user{
   width:100%;
   height: 50px;
   border-radius: 0px;
   background: #59D389;
   color: #ffffff;
   font-family: BasisGrotesq, Avenir, Helvetica Neue, Helvetica, sans-serif;
   font-size: 16px;
   margin-top: 20px;
   cursor: pointer;
   border: none;
 }
 
 .names{
   display: flex;
   justify-content: space-between;
 }

 .switch-form{
  color: #ffffff;
  background: none;
  height: 35px;
  width: 90px;
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
 }

 .account-span{
  margin: 3px;

 }

 .switch-seperator{
  margin-top: 150px;
  text-align: center;
  color: #ffffff;
  font-family: BasisGrotesq, Avenir, Helvetica Neue, Helvetica, sans-serif;
  margin-bottom: 10px
 }

 .demo-user{
   margin-top: 10px;
 }
 
 .error-box{
  border: 1px solid red;
 }

 .signup-errors{
   color: #DF4A32;
   margin-bottom: 10px;
   font-size: 12px;
   font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
 }

 .login-errors{
   color: #DF4A32;
   font-size: 18px;
   font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
 }

 .fa.fa-times-circle-o{
  color: #DF4A32;
  font-size: 20px;
  margin-right: 5px;
 }

 .error-parent{
   position: relative;
 }

 .input-error{
  position: absolute;
  right: 1px;
  top: 22px;
 }
