.nav{
   display: flex;
   justify-content: space-between;
   width: 1000px;
   margin: auto;

 }
 

 .nav-bar-links{
  display: flex;
  grid-template-columns: repeat(4, 25%);
}

.nav-link, .nav-user-links{
  
  color: white;
  text-decoration: none;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  align-self: center;
  font-size: 12px;  
  margin: 10px;
  letter-spacing: 1px;



}

/* .nav-user-links{
  color: white;
  Arial, Helvetica, sans-serif;
  margin: 5px;
} */


.nav-link:hover, .nav-user-links:hover{
  text-decoration: underline;
}

.parent-nav{
  background: #231f20;
  height: 60px;
  display: flex;
 }

 .fa.fa-user-circle{
  display: flex;
  margin: 5px;
  align-items: center

 }

 .logo{
   max-width: 60px;
   max-height: 60px;
 }

 .nav-user-profile{
   display: flex;
   justify-content: center;
 }
